name: Rails CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3.1
          bundler-cache: true

      - name: Setup DB
        env:
          RAILS_ENV: test
        run: |
          cp config/database.yml.github-actions config/database.yml
          bundle exec rails db:create db:migrate

      - name: Run tests
        env:
          RAILS_ENV: test
        run: |
          bundle exec rspec \
            --format RspecJunitFormatter \
            --out tmp/rspec.xml

      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: junit-report
          path: tmp/rspec.xml
